/** @format */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500");
* {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	margin-left: 5px;
	margin-right: 5px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 7px;
}

a {
	text-decoration: none;
}
#search,
#logo,
#bag {
	height: 40px;
}
#call {
	height: 30px;
}
.nav {
	margin-left: -3rem;
}
.nav_link {
	list-style: none;
	display: flex;
	gap: 4rem;
}
.nav_link li {
	/* display: inline-block; */
	padding: 0, 20px;
}
.nav links li a {
	transition: all 0.3s ease 0s;
}
.side-images {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
#button {
	height: 3rem;
	/* width: 7rem; */
	color: #edffef;
	padding: 9px 25px;
	background-color: #5fe26c;
	border: none;
	text-align: center;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	margin-right: 1.2rem;
}
#button img {
	background-color: #5fe26c;
	height: 1rem;
	width: 1rem;
}
.hero {
	display: flex;
	justify-content: space-between;
}
.htext {
	font-family: sans-serif;
	font-size: 30px;
	padding-top: 2rem;
	margin-top: 2rem;
}
.htext h1 span {
	color: #5fe26c;
}
.himg {
	display: flex;
	justify-content: end;
	flex-direction: column;
}
.himg img {
	float: right;
	height: 30rem;
}

#subheading {
	font-size: 20px;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#vid {
	height: 3rem;
	width: 7rem;
	color: black;
	border: none;
	fill: none;
	text-align: center;
	background-color: white;
}
#order {
	height: 3rem;
	width: 7rem;
	color: #edffef;
	background-color: #5fe26c;
	border: none;
	text-align: center;
	border-radius: 50px;
}
#img img {
	height: 2rem;
}
#img {
	height: 3rem;
	width: 3rem;
	border: solid #edffef 5px;
	background-color: white;
	border-radius: 100%;
	align-items: center;
	box-shadow: #555555;
}
.hbtn {
	display: flex;
	align-items: center;
	gap: 2rem;
}
.hibtn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	gap: 2rem;
	padding-top: -3rem;
	margin-top: -3rem;
}
.hibtn button {
	display: flex;
	height: 5rem;
	width: 12rem;
	flex-direction: row;
	border-radius: 10px;
	border-color: 0.2px #555555;
	background-color: #ffffff;
	justify-content: space-around;
	align-items: center;
}
.hibtn button img {
	height: 60px;
	border-radius: 5px;
}
.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
	margin-top: 2rem;
}

.items img {
	height: 100px;
	width: 100px;
	padding: 0.42rem;
	border-radius: 100%;
	background-color: #90bd95;
}
.menuitems {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	padding-top: 2rem;
}
.menuitems button {
	border-radius: 25px;
	height: 250px;
	width: 250px;
	background-color: white;
	border-color: #555555;
}
.menuitems button p strong {
	font-size: 25px;
	text-decoration: solid;
}
.dishes {
	padding-top: 3rem;
	text-decoration: solid;
}
.dishes p {
	font-size: 20px;
}
.dishes h1 {
	font-size: 45px;
}
.dm {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.dm button {
	height: 300px;
	width: 300px;
	border-radius: 50px;
}
.dm button img {
	height: 150px;
}
.dishes button {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dish p {
	color: #555555;
	font-size: 15px;
	margin-top: -2rem;
}
.price {
	padding-left: 0rem;
	padding-right: 5rem;
}
.dishes pre {
	font-size: 18px;
	padding-left: 1.5rem;
	margin-top: -0.5rem;
}
.dish img {
	padding-top: 1rem;
}
.chef {
	margin-top: 5rem;
	display: flex;
	align-content: center;
	justify-content: center;
	gap: 29rem;
}
.chef .img_container {
	height: 2rem;
	width: 2rem;
}
.chef .img_container img {
	height: 30rem;
}
.cheftxt {
	float: right;
	margin-top: 2rem;
	padding-right: 5rem;
	margin-bottom: 5rem;
}
.cheftxt p {
	font-size: 20px;
	color: gray;

}
.cheftxt h1 {
	font-size: 50px;
}
.review{
	margin-top: -1rem;
}
.feed {
	display:flex ;
	gap: 8rem;
	float: left;
}
.feedback {
	height: 35px;
	position: relative;
}
.feedback img {
	height: 150%;
	width: auto;
	position: absolute;
	margin: 0;
	padding: 0;
}

#img1 {
	left: 0;
}

#img2 {
	left: 30px;
}

#img3 {
	left: 60px;
	margin-right: 3rem;
}

.service-text h1 {
	font-size: 50px;
}
.service-text #content {
	color: gray;
	font-size: 20px;
}
.service-text button {
	height: 3rem;
	/* width: 7rem; */
	color: #edffef;
	padding: 9px 25px;
	background-color: #5fe26c;
	border: none;
	text-align: center;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.service-text {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	margin-right: 8rem;
}
.service-menu {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 41%;
}

.service-menu button {
	border: solid 1px #555555;
	height: 12rem;
	width: 11rem;
	margin-top: 1rem;
	border-radius: 25px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	padding-top: 2rem;
}
.service {
	display: flex;
	margin-top: 5rem;
}
.service-menu button img{
	height: 40px;
}
.service-menu button p{
	color: #90BD95;
}
.service-menu button h3{
	color: #5FE26C;
}
.footer{
	display: flex;
	padding-top: 5rem;
	justify-content: space-between;
	align-items: center;
}
.list1{
	display: flex;
	/* justify-content: center; */
	align-items: start;
	flex-direction: column;
	padding-top: 2rem;
}
.list1>div>img{
	height: 30px;
}
.list2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 2rem;
}
.list2>ul{
	list-style: none;
	display: flex;
	gap: 1rem;
	flex-direction: column;
}
.list2>ul>li{
	color: #555555;
	align-content: start;
}
.list2>ul>h4{
	font-size: 20px;
}
.list3{
	padding-top: 0;
	margin-top: -1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 2rem;
}
.list3>ul{
	list-style: none;
	display: flex;
	gap: 1rem;
	flex-direction: column;
}
.list3>ul>li{
	color: #555555;
	align-content: start;
}
.list3>ul>h4{
	font-size: 20px;
}
#selected{
	background-color: #5FE26C;
}
.other{
	background-color: #90BD95;
}
.footimg{
	justify-content:center;
	align-items: center;
	display: flex;
}
.footimg>button{
	height: 25px;
	width: 25px;
	border: none;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.footimg>button>img{
	height: 10px;
	width: auto;
}
.foot{
	display: flex;
	margin-top:  5rem;
	flex-direction: row;
	align-items: center;
	gap: 5rem;
	margin-left: 17rem;
	margin-right: 5rem;
}
h1,h2,h3,h4{
	font-weight: bold;
}